[Unit]
Description=Create htpasswd.
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=360
Type=oneshot
EnvironmentFile=/var/cache/starterkit/environment
Environment="IMAGE=registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest"
ExecStartPre=/var/opt/starterkit/bin/pull-image ${IMAGE}
ExecStart=/usr/bin/docker run --rm                                              \
    -e USERNAME=${ADMIN_USERNAME}                                               \
    -e PASSWORD=${ADMIN_PASSWORD}                                               \
    -v www-volume:/mnt/workdir                                                  \
    ${IMAGE}                                                                    \
    create-htpasswd
