[Unit]
Description=Create htpasswd.

[Service]
EnvironmentFile=/var/cache/starterkit/environment
Type=oneshot
TimeoutStartSec=360
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest
ExecStartPre=/usr/bin/docker volume create --name default-site-volume
ExecStart=/usr/bin/docker run --rm                                              \
    -e USERNAME=${ADMIN_USERNAME}                                               \
    -e PASSWORD=${ADMIN_PASSWORD}                                               \
    -v www-volume:/mnt/workdir                                                  \
    registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest                 \
    create-htpasswd
