[Unit]
Description=Create default site.

[Service]
EnvironmentFile=/var/cache/starterkit/environment
Type=oneshot
ExecStart=/usr/bin/docker run --rm                                              \
    -e CANONICAL_HOST=www.${STARTERKIT_DOMAIN}                                  \
    -e CANONICAL_PORT=443                                                       \
    -e UNIT_HOST=flask-app                                                      \
    -e UNIT_PORT=3000                                                           \
    -v default-site-volume:/mnt/workdir                                         \
    registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest                 \
    create-default-site
