[Unit]
Description=Create self-signed snakeoil certificate.

[Service]
EnvironmentFile=/var/cache/starterkit/environment
Type=oneshot
ExecStart=/usr/bin/docker run --rm                                              \
    -v ssl-cert-volume:/mnt/workdir                                             \
    registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest                 \
    create-snakeoil-cert
