[Unit]
Description=Nginx proxy Unit
After=flask-app.service create-default-site.service create-htpasswd.service create-snakeoil-cert.service
Requires=flask-app.service create-default-site.service create-htpasswd.service create-snakeoil-cert.service

[Service]
TimeoutStartSec=360
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest
ExecStart=/usr/bin/docker run --network starterkit-network --name %p            \
    -p 8080:80 -p 8443:443                                                         \
    -v default-site-volume:/etc/nginx/sites-enabled:ro                          \
    -v ssl-cert-volume:/srv/ssl:ro                                              \
    -v www-volume:/srv/www:ro                                                   \
    registry.gitlab.com/tvaughan/docker-nginx-proxy-unit:latest
ExecStop=/usr/bin/docker stop %p
ExecStopPost=/usr/bin/docker rm %p

[Install]
WantedBy=multi-user.target
