[Unit]
Description=Postgresql
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/var/cache/starterkit/environment
ExecStart=/usr/bin/docker run                                                   \
    --name ${POSTGRES_HOSTNAME}                                                 \
    -e POSTGRES_DB=starterkit                                                   \
    -e POSTGRES_USER=${POSTGRES_USERNAME}                                       \
    -e POSTGRES_PASSWORD=${POSTGRES_PASSWORD}                                   \
    -v postgres-volume:/var/lib/postgresql/data                                 \
    registry.hub.docker.com/library/postgres:11                                 \
    postgres -p ${POSTGRES_TCP_PORT}
ExecStop=/usr/bin/docker stop %p
ExecStopPost=/usr/bin/docker rm %p

[Install]
WantedBy=multi-user.target
