[Unit]
Description=Pull postgres docker images.
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/var/cache/starterkit/environment
Type=oneshot
TimeoutStartSec=360
ExecStart=/var/opt/starterkit/bin/pull-postgres-images
