# Flask Starterkit
bandit==1.5.1
beautifulsoup4==4.6.3
black==18.6b4
django==2.1.1
html5lib==1.0.1
psycopg2-binary==2.7.5
pytest-cov==2.6.0
pytest-django==3.4.3
pytest-env==0.6.2
pytest==3.8.1
pyupio==1.0.2
safety==1.8.4
